<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="./node_modules/angular-material/angular-material.min.css"/>
		<script src="./node_modules/angular/angular.min.js"></script>
		<script src="./node_modules/angular-material/angular-material.min.js"></script>
		<script src="./node_modules/angular-animate/angular-animate.min.js"></script>
		<script src="./node_modules/angular-aria/angular-aria.min.js"></script>
		<script src="./node_modules/angular-messages/angular-messages.min.js"></script>
		<!-- <script src="./node_modules/angular-imagesloaded/dist/angular-imagesloaded.min.js"></script> -->
	</head>
	<body>
		<div ng-app="myApp" ng-controller="siteCtrl" >
			<md-content layout-padding>
				<md-content layout="column">

					<md-content layout="row">
						<md-button ng-click="upper()" class="md-raised md-primary">upper</md-button>
					</md-content>

					<md-list flex >
						<md-list-item ng-repeat="s in names" ng-style="{'background-color': $odd?'#e6e6e6':'white'}">
							<a ng-show="s.match('\\.').length>0"  target="_blank" ng-href="{{getsrc(s)}}">{{ s }}</a>
							<span ng-hide="s.match('\\.').length>0" ng-click="getfile(s)">{{ s }}</span>
							<div flex layout="row" layout-align="end end" >
								<div ng-if="s.match('.mp3').length>0">
									<audio preload="none" controls ng-src="{{getsrc(s)}}"> audio tag is not supported </audio>
								</div>
								<md-button ng-click="download(s)" ng-show="s.match('\\.').length>0" class="md-raised md-primary">download</md-button>
								<md-button ng-hide="s.match('\\.').length>0" ng-click="openInManga(s)" class="md-raised md-primary">manga</md-button>
								<md-button ng-hide="s.match('\\.').length>0" ng-click="getfile(s)" class="md-raised md-primary">enter folder</md-button>
							</div>
						</md-list-item>
					</md-list>
					</md-content>
					<md-button ng-click="selectLinkText()" class="md-raised md-primary">select text</md-button>
					<textarea id="mytextarea" ng-model="allsrclink" multiple rows="5" cols="20" style="width: 1000px;">
					</textarea >
			</md-content>
		</div>

		<script>
var app = angular.module('myApp', ['ngMaterial']);

app.controller('siteCtrl', function($scope, $http,$mdDialog) {
	var host = window.location.host;
	var port = "";
	var log = console.log
	var info = function (content){
			function showAlert() {
				alert = $mdDialog.alert({
					title: 'Attention',
					textContent: content,
					ok: 'Close'
				});
				$mdDialog
					.show( alert )
					.finally(function() {
						alert = undefined;
					});
			};
		showAlert();
	}
	$scope.getsrc = function(s){
		//console.log(('http://'+host+'/files/' + curpath +'/'+s));
		return ('http://'+host+'/' + curpath +(curpath?'/':"")+s);
	}
	function testVideoLink(x){
		x = x.toLowerCase()
		let res = x.match('\\.(mp4|mkv)')
		return (res&&res.length>0)
	}
	function setLinkTextArea(){
		$scope.allsrclink = $scope.names.filter(testVideoLink).map($scope.getsrc).join('\n')
	}
	$scope.selectLinkText = function(){
		var txtarea = document.getElementById("mytextarea");
		txtarea.select()
		document.execCommand('copy');
	}
	var list = function(){
		$http({
			method: 'GET',
			url: 'http://'+host+'/list'
		}).then(function successCallback(response) {
			console.log(response.data);
			$scope.names = response.data;
			setLinkTextArea();
		}, function errorCallback(response) {
			// 请求失败执行代码
		});
	}
	list();
	var curpath = ""; 
	$scope.allsrclink = ""

	$scope.getcurpath = function(){
		return curpath
	}
	var pos;
	let now = false;
	$scope.getfile =function(filename,dir){
		//console.log(curpath+'/'+filename);
		$http({
			method: 'POST',
			url: 'http://'+host+'/getfile',
			headers:{'Content-Type':'application/x-www-form-urlencoded'},
			data:"filename="+(dir?"":(curpath +'/'))+filename
		}).then(function successCallback(response) {
			//console.log(response.data);
			if(response.data.length && typeof(response.data) !== "string"){
				if(!dir)curpath = (curpath +'/')+  filename  ; 
				$scope.names = response.data;
				$scope.id = 0;
				setLinkTextArea()
				return;
			}
			info(response.data);
		}, function errorCallback(response) {
			// 请求失败执行代码
		});
	};

	$scope.upper = function(){
		pos = curpath.lastIndexOf('/');
		console.log(curpath,pos);
		if(pos<0){
			return;
		}
		if(pos==0){
			curpath="";
		}
		else if(pos>0){
			curpath = curpath.substring(0,pos);
		}
		console.log(curpath);
		if(curpath)$scope.getfile(curpath,"dir");
		else list();
	}

	$scope.download = function(s){
		window.open('http://'+host+'/' + curpath +'/'+s);
	};

	$scope.openInManga = function(s){
		window.open(`http://${window.location.hostname}:8080/?dirpath=${$scope.getcurpath()}/${s}`)
	}
});
		</script>

	</body>
</html>
